<% layout("layouts/boilerplate") %>

<div class="row mt-4">
  <div class="col-8 offset-2">
    <h2 class="new-ls-heading">Create a New Listing</h2>

    <!-- BOOTSTRAP FOR FORM VALIDATION - novalidate class="needs-validation" -->
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          placeholder="Add a catchy title"
          class="form-control"
          required
        />

        <!-- //bootstrap classes for success failure text -->
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter the Title!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>

        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image </label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          accept="image/*"
          multiple
          required
        />
      </div>

      <!-- dropdown -->
      <div class="dropdown mt-4 mb-3">
        <p>Select your category</p>

        <!-- hidden input that ACTUALLY sends data -->
        <input type="hidden" name="listing[categories]" id="categoryInput" />

        <button
          class="btn border dropdown-toggle w-100"
          type="button"
          data-bs-toggle="dropdown"
          id="categoryBtn"
        >
          Select category
        </button>

        <ul class="dropdown-menu w-100">
          <li><button type="button" class="dropdown-item">Trending</button></li>
          <li><button type="button" class="dropdown-item">Rooms</button></li>
          <li>
            <button type="button" class="dropdown-item">Mountains</button>
          </li>
          <li>
            <button type="button" class="dropdown-item">Iconic cities</button>
          </li>
          <li><button type="button" class="dropdown-item">Castles</button></li>
          <li>
            <button type="button" class="dropdown-item">Amazing pools</button>
          </li>
          <li><button type="button" class="dropdown-item">Camping</button></li>
          <li><button type="button" class="dropdown-item">Farms</button></li>
          <li><button type="button" class="dropdown-item">Arctic</button></li>
          <li><button type="button" class="dropdown-item">Domes</button></li>
          <li><button type="button" class="dropdown-item">Boats</button></li>
        </ul>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
            required
            min="0"
          />

          <div class="valid-feedback">Looks Good!</div>

          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-6">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          placeholder="Jaipur / Rajasthan"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button style="width: 100%" class="btn btn-dark mt-3 mb-5">add</button>
    </form>
  </div>
</div>
