.navbar-nav .nav-link {
  /* color: rgba(30, 30, 30, 0.7) !important; */
  font-weight: 500;
  opacity: 0.8;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.search-btn {
  background: linear-gradient(130deg, #02aedd, #01cece) !important;
  color: aliceblue;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}

.btn-search:hover {
  opacity: 0.9;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}
.search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 0.98rem;
}
.navbar-nav .nav-link:hover {
  color: #0da2e7 !important;
}
.btn-signup {
  background: linear-gradient(130deg, #02aedd, #01cece) !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 10px !important;
  padding: 8px 20px !important;
  border: none !important;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.btn-signup:hover {
  opacity: 0.9;
  color: #fff !important;

  text-decoration: none;
}
.btn-login {
  font-weight: 600;
  color: rgba(30, 30, 30, 0.7) !important;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 9px;
  transition: color 0.15s ease;
}

.btn-login:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #f97415;
}

.dropdown-item:hover {
  background-color: #f97415 !important;
  color: white;
  border-radius: 5px;
}
