html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}
.container {
  /* flex: auto; */
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.3rem;
  color: #344256 !important;
  text-decoration: none;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 12px;
  margin-right: 0.5rem;
  background: linear-gradient(135deg, #06beb6, #48b1bf);
}

.icon-wrapper i {
  color: white;
  font-size: 23px;
}

.navbar {
  background-color: #fff !important;

  height: 5rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.container {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
footer {
  margin-top: auto;
  flex-shrink: 0;
  margin: 0; /* Remove any margin */
  padding: 0;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
  color: #222222;
}

.f-info {
  height: 8rem;
  display: flex;
  margin: 0; /* Add this */
  padding: 0;

  background-color: #ebebeb;
  justify-content: center;
  flex-wrap: wrap;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.f-info-socials i {
  font-size: 1.2rem;
}

/* CARDS */

.card {
  border: none !important;
  margin-bottom: 2rem;
  transition: 0.3s ease-out;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
}

.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* CARD EFFECT  */

.card-img-overlay {
  opacity: 0;
}

.index-card:hover {
  /* background-color: #0DA2E7; */
  /* box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); */
  transform: scale(1.03);
  cursor: pointer;
}

/* .card-img-overlay:hover {
  opacity: 0.1;
  background-color: white;
} */

/* // Create listing form  */

.new-ls-heading {
  width: 100%;

  text-align: center;
}

.btn {
  /* width: 100%; */
}

/* SHOW PAGE  */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Review section  */
.reviewContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.reviewBox {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.reviewBox p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.reviewBox .comment {
  max-height: 120px;
  overflow-y: auto;
}
.starWrapper {
  overflow: hidden;
  width: fit-content;
}

/* Map */
#map {
  height: 400px;
  width: 100vh;
  border-radius: 1rem;
}
