<link href="/css/navbar.css" rel="stylesheet" />
<nav class="navbar  navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a> -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <div class="icon-wrapper">
        <i class="fa-solid fa-globe"></i>
      </div>
      <span>StayNest</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">

      <div class="link-container ms-auto">

        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          <a class="nav-link" href="/packages">Package</a>
          <a class="nav-link" href="/about">About Us</a>
          <a class="nav-link" href="/contact">Contact</a>
        </div>
      </div>
        
    

     
      <div class="navbar-nav ms-auto">
        <!-- <a class="nav-link" href="/packages/new">Host Your Place</a> -->
           <div class="dropdown">
          <button
            class="btn dropdown-toggle w-5"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"> Host 
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/listings/new">Host your nest</a>
               <a class="dropdown-item" href="/packages/new">Host your package</a>
            </li>
          </ul>
        </div>
        <% if(!currUser){ %>
        <a class="btn-login me-2" href="/login">Login</a>
        <a class="btn btn-signup" href="/signup">Sign up</a>

        <% } else { %>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle w-5"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
          >
            <%=currUser.username %>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li>
          </ul>
        </div>

        <!-- <a class="nav-link" href="/logout"> <%=currUser.username %></a> -->
        <% }%>
      </div>
  
        </div>
  </div>
</nav>
