<link href="/css/navbar.css" rel="stylesheet" />
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a> -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <div class="icon-wrapper">
        <i class="fa-solid fa-globe"></i>
      </div>
      <span>StayNest</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/packages">Package</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" method="get">
          <% if(currentCategory){ %>
          <input type="hidden" name="category" value="<%= currentCategory %>" />
          <% } %>

          <input
            class="form-control me-2 search-inp"
            name="search"
            type="search"
            value="<%=searchText%>"
            placeholder="Search destinations"
          />
          <button class=" search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <!-- <a class="nav-link" href="/packages/new">Host Your Place</a> -->
           <div class="dropdown">
          <button
            class="btn dropdown-toggle w-5"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"> Host 
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/listings/new">Host your nest</a>
               <a class="dropdown-item" href="/packages/new">Host your package</a>
            </li>
          </ul>
        </div>
        <% if(!currUser){ %>
        <a class="btn-login me-2" href="/login">Login</a>
        <a class="btn btn-signup" href="/signup">Sign up</a>

        <% } else { %>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle w-5"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
          >
            <%=currUser.username %>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li>
          </ul>
        </div>

        <!-- <a class="nav-link" href="/logout"> <%=currUser.username %></a> -->
        <% }%>
      </div>
    </div>
  </div>
</nav>
