<% layout("layouts/boilerplate") %>
<link href="/css/login.css" rel="stylesheet" />

<div class="containers">
  <div class="left-container">
    <div class="ls-card card">
      <div class="top">
        <h4>Welcome Back</h4>
        <p>Sign in to your account to continue your journey</p>
      </div>

      <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            placeholder="Enter username"
            class="form-control input-style"
            required
          />

          <!-- //bootstrap classes for success failure text -->

          <div class="invalid-feedback">Please enter the username</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            placeholder="Enter your password"
            class="form-control input-style"
            required
          />

          <div class="invalid-feedback">Please enter the password</div>
        </div>

        <a class="forget-pass" href="#">Forgot Password?</a>

        <button style="width: 100%" class="btn-signup book submit">
          Login
        </button>
      </form>

      <p class="create-acc">
        Don't have an account?
        <a href="/signup" class="forget-pass sign-up">Sign up</a>
      </p>
    </div>
  </div>

  <div class="right-container">
    <div class="content">
      <h1 class="heading">Your Next Adventure Awaits</h1>
      <h5 class="sub-head">
        Join thousands of travelers who trust stayNest for their dream vacations
      </h5>
    </div>
  </div>
</div>
